/* 
    Document   : style
    Created on : Mar 14, 2013, 10:53:46 PM
    Author     : Sam Likins
    Description:
        Purpose of the stylesheet follows.
*/

html,
body {
	margin: 0px;
	padding: 0px;
}
#activityWait {
	background-color: rgba(200, 200, 200, 0.75);
	height: 100%;
    position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
#activityWait > div {
	background: url('./images/Waiting.gif') center 5px no-repeat rgba(255, 255, 255, 0.9);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin: 6em auto 0 auto;
	padding: 45px 8px 8px 8px;
	text-align: center;
	width: 200px;
}
#activityWait > div > span {
	font-weight: bolder;
}

#formAlert {
	background: #ffc3c3;
	border: 2px solid #ff0000;
	color: #c30000;
	margin: 1em;
	padding: 0.5em;
}
#formAlert > p {
	margin: 0;
}
#hoverMenu {
	background: rgba(225, 225, 225, 0.85);
	padding: .5em;
	position: fixed;
	top: 0;
	width: 100%;
}
#hoverMenu > div {
	margin: 0 auto;
	width: 850px;
}
#hoverMenu > #managerNotes,
#hoverMenu > #signatures {
	margin-top: 4ex;
	position: absolute;
	width: 98%;
}
#managerNotes > div,
#signatures > div {
	background: antiquewhite;
	border: 1px solid #c7c7c7;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin: 0 auto;
	padding: 0.5em;
	width: 800px;
}

*[title] {
	border-bottom: 2px dashed darkblue; 
}

h1 {
	text-align: center;
}
.contentWraper {
	margin: 2.25em auto 0;
	width: 900px;
}
div.form-section {
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #c7c7c7;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin: 1em;
	padding: 1em;
}
div.form-section table,
#signatures table {
	width: 100%;
}
#signatures table td > div {
	margin: 0 auto;
	text-align: center;
}
#signatures .css_button {
}
div.sourcesLink {
	background: rgba(255, 0, 0, 0.1);
	border: 1px solid #c7c7c7;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin: 0.25em -0.25em;
	padding: 0.5em 0.25em;
}
tbody th {
	text-align: right;
}
span.section-title {
	display: block;
	font-size: 1.75em;
	font-weight: bold;
}
span.section-subtitle {
	display: block;
	font-size: 0.75em;
}
span.subsection-title {
	display: block;
	text-align: center;
}
table {
	border-collapse:collapse;
	border-spacing: 0;
}
tr > .onlyButton {
	text-align: right;
}
table.center td {
	text-align: center;
}
button.ico-pencil,
button.ico-link,
button.ico-minus,
button.ico-plus {
	width: 26px;
	border: none;
	background: none center center no-repeat;
	margin: 0 1px;
}
button.ico-pencil:hover,
button.ico-link:hover,
button.ico-minus:hover,
button.ico-plus:hover {
	background-color: skyblue;
}
button.ico-pencil {
	background-image: url('./images/pencil.png');
}
button.ico-link {
	background-image: url('./images/link.png');
}
button.ico-minus {
	background-image: url('./images/minus.png');
}
button.ico-plus {
	background-image: url('./images/plus.png');
}
button,
input,
select,
textarea {
	border: 1px solid #c7c7c7;
	display: inline-block;
	height: 1.5em;
	padding: 1px;
}
input[type="text"],
input[type="date"],
select,
textarea {
	width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
  width: 1.5em;
	height: 1.5em;
}
button {
	height: 1.75em;
	padding: 1px 6px;
	white-space: nowrap;
}
select {
	height: 1.75em;
}
textarea {
	height: 4em;
}

.pre-wrap {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.printOnly {
	display: none;
}

@media print {
	#hoverMenu {
		display: none;
	}
	.contentWraper {
		margin-top: 0;
	}
	.pageBreak {
		display: block;
		page-break-before: always;
	}
	.printOnly {
		display: block;
	}
}