/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2016, 5:20:30 PM
    Author     : yehster
*/
.appMenu div
{
    margin: 3px;
}
.appMenu > span
{
    float: left;
}
.appMenu ul
{
    list-style:none;
    margin:0;
    padding:0;
    border: black solid 1px;
    border-bottom: 0px;
}
.appMenu li
{
    width: 100%;
}
.menuHeader{
    font-weight: bold;
}
.menuSection{
    position: relative;
}
.menuLabel
{
    width: 100%;
}
.menuSection >.menuLabel
{
    font-weight: bold;
}
.menuSection > .menuEntries{
    background-color:lightskyblue;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index:1000;
    border: black solid 1px;
}

.menuSection > .menuEntries .menuEntries {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index:10000;
}
.menuSection:hover > .menuEntries{
    display: block;
}

.menuLabel
{
    cursor: pointer;
}
.menuLabel:hover
{
    color: red;
}
.menuDisabled
{
    color:lightgray;
}

/*Changes to make .menuDisabled visible.*/
.menuLabel.menuDisabled {
    color: black;
}

.menuLabel.menuDisabled:hover
{
	color: red;
}

#username
{
    cursor: pointer;
}
#username > .userfunctions
{
    background-color:lightskyblue;
    display: none;
}
#username:hover > .userfunctions
{
    display: block;
}

#username > .userfunctions > div:hover
{
    color: red;
}

/*
    Latest additions in order to make navbar theme independent by using Bootstrap.
*/
.nav>li>a{
    cursor: pointer;
    font-size: 14px;
    font-weight : 600;
    padding-right : 10px;
}
.nav>li>a:hover > ul{
    display:none;
}
.icon-bar{
    color:white;
    background: black;
}
    
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;left:100%;
    margin-top:-6px;margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
}

.dropdown-submenu > a:after {    
    content: " ";
    display: block;
    float: right;  
    height: 0;     
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#555;
}
.dropdown-menu>li>a{
    cursor: pointer;
    padding : 5px;     
    padding-left: 20px;  
    padding-bottom : 0px; 
    font-weight : 600;
}   
.dropdown-menu>li>a:hover{
    text-decoration : underline;
    color: #31b0d5;        
}
.navbar-collapse{
    padding-left : 0px;  
    padding-right : 20px;      
}
.navbar-nav>li>a{
    padding-top : 5px;
    padding-bottom : 5px;
}
.glyphicon{
    padding-right:20px;
}    