<div id="developer_screen" style="display: none;">
		<table class="table table-striped">
			<th></th>
			<th>Status</th>
			<tr>
				<td>Sync with master</td>
				<td class="dv_progress_loader"><img src='updater_loading.gif' height="32px" width="32px"></td>
			</tr>
			<tr>	
				<td>Downloading Pullrequest files</td>
				<td class="dv_progress_loader"><img src='updater_loading.gif' height="32px" width="32px"></td>
			</tr>
			<tr>	
				<td>Applying PR</td>
				<td class="dv_progress_loader"><img src='updater_loading.gif' height="32px" width="32px"></td>
			</tr>
		</table>
		<div class="text-center"><button class="css_button cp-submit" id="dv_return">Back to Developer Mode</button></div>
	</div>