<!-- called using template handler-->
<h3><i class='fa fa-gear'></i> General Settings</h3>
<div>
<table>
<tr>
<td>
<h4>
 Automatically check for updates?
</h4>
</td>
<td style="padding-left: 80px;">
<label class="switch">
  <input type="checkbox">
  <span class="slider"></span>
</label>
</td>
  </tr>

<tr>
<td>
<h4>
Enable Developer Mode
</h4>
</td>
<td style="padding-left: 80px;">
<label class="switch">
  <input type="checkbox">
  <span class="slider"></span>
</label>
</td>
  </tr>
</table>
</div>
