<!-- called using template handler-->
<h3><i class='fa fa-gear'></i> General Settings</h3>
<div>
<table class="table table-hover">
<form method="POST">

<th>
Setting
</th>
<th style="padding-left: 80px;">
option
</th>
<th>
Value
</th>


<tr>
<td>
Notification Preferences
</td>
<td style="padding-left: 80px;">
<select name="updater_notification_preference" class="updater_general_settings_children">
	<option value="only_security_updates">Notify me when security update is available</option>
	<option value="all">Notify about all updates</option>
</select>
</td>
<td>
{updater_notification_preference}
</td>
</tr>


<tr>
<td>
Check for updates once
</td>
<td style="padding-left: 80px;">
<select name="updater_frequency"  class="updater_general_settings_children">
	<option value="1 day">1 day</option>
	<option value="2 days">2 days</option>
	<option value="5 days">5 days</option>
</select>
</td>
<td>
{updater_frequency}
</td>
  </tr>


<tr>
<td>
Enable Developer Mode
</td>
<td style="padding-left: 80px;" class="updater_general_settings_children">
<label class="switch">
  <input type="checkbox" name="updater_dm" {updater_dm_checked}>
  <span class="slider"></span>
</label>
</td>
<td>
{updater_dm}
</td>
</tr>


<tr>
<td>
Disable Updater
</td>
<td style="padding-left: 80px;">
<label class="switch">
  <input type="checkbox" name="updater_status" class="updater_general_settings_parent" {updater_status_checked}>
  <span class="slider"></span>
</label>
</td>
<td>{updater_status}</td>
  </tr>
<input type="hidden" name="from_updater_general_settings" value="1">

<tr><td><input type="submit"  class="cp-submit" value="save"></td></tr>
</form>
</table>
</div>
