<form method="POST">
<div class="text-center col-xs-2"><br/>
<img src="../sites/default/images/LibreEHR_shield.png" height="200px" width="128px">
<h4>&nbsp;&nbsp;&nbsp;&nbsp;{UPDATER}</h4>
</div>
<div class="col-xs-9 col-xs-offset-1">
<h1>{UNABLE}</h1>
<br/>
<h4>{REQUIREMENTS}</h4>
<table class="table table-striped">
	<tr>
		<td>{CURL_BOOL_STRING}</td>
		<td>{CURL_BOOL}</td>
	</tr>
	<tr>
		<td>{INTERNET_BOOL_STRING}</td>
		<td>{INTERNET_BOOL}</td>
	</tr>
	<tr>
		<td>{FILE_PERMISSIONS_BOOL_STRING}</td>
		<td>{FILE_PERMISSIONS_BOOL}</td>
	</tr>
</table>
</div>
