body {
    background: #eeeeee;
    font-family:'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    position:relative;
    background: #ffcc00;
    margin: 0px;
    padding: 3% 2%;
    overflow:hidden;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight:100;
    padding: 0px;
    margin:0px;
} 

header i,
header b,
header u,
header s {
    position:absolute;
    display:block;
    border-radius: 30px;
    bottom: -100px;
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -webkit-transition: 2s;
    transition: 2s;
}

header i {
    right: 0%;
    height:20%;
    width:80%;
    background: rgba(200,150,0,0.2);
}

    header:hover i {
        right:2%;
    }

header b {
    right: 5%;
    height:30%;
    width:80%;
    background: rgba(255,255,255,0.2);
}
    header:hover b {
        right: 10%;
    }

header u {
    right: 12%;
    height:15%;
    width:80%;
    background: rgba(255,255,255,0.2);
}

    header:hover u {
        right:25%;
    }

header s {
    right: 30%;
    height:40%;
    width:90%;
    background: rgba(255,255,255,0.2);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -webkit-transition: right 4s;
    transition: right 4s;
}

    header:hover s {
        right:25%;
    }



.editor-container {
    margin: 1em 2%;
}


.moreinfo {
    position:absolute;
    top: 2em;
    right: 2em;
    text-align:right;
    margin-right:1em;
}

.moreinfo a {
    text-decoration: none;
    color: black;
    font-weight:bold;
}

.moreinfo a:hover {
    text-decoration:underline;
}