.doctored {
    padding:0px;
    margin:0px;
    outline:none;
    display:block;
}

    .doctored:before {
        float:right;
        margin-top:-1.7em;
        width: 200px;
        content: "Validating...";
    }

    .doctored.invalid:before {
        width: 150px;
        content: "Validation messages\21B4";
    }

    .doctored.valid:before {
        width: 160px;
        margin-right:23px;
        content: "Valid document!";
    }

    .doctored div.doctored-block {
        padding-right:200px;
        position:relative;
        display:block;
        overflow:hidden;
    }

    .doctored div.doctored-block div.doctored-block {
        clear:left;
        padding-right:200px;
    }

        .doctored div.doctored-block:after {
                    padding-right:10px;
                    padding-left:10px;
            clear:both;
            position:relative;
            display:inline-block;
            left: -0.2em;
            top: 0.5em;
            content: attr(data-element); /*\271B \271A \2795 */
            margin-right: -3em;
            width:3em;
            white-space:nowrap;
             /*-webkit-transform-origin: 1 1;
            -webkit-transform: rotate(90deg) translate(1em, 0);
             -moz-transform-origin: 1 1;
            -moz-transform: rotate(90deg) translate(1em, 0);
            -ms-transform-origin: 1 1;
            -ms-transform: rotate(90deg) translate(1em, 0);
            transform-origin: 1 1;
            transform: rotate(90deg) translate(1em, 0);*/
        }

        .doctored div.doctored-block.has_errors:before {
            content: attr(data-error);
            overflow:visible;
            position:absolute;
            margin-top: 0px;
            right:5px;
            top:4px;
            width:172px;
            clear:both;
        }

    .doctored div.doctored-inline {
        position:relative;
        display:inline-block;
        margin-bottom:0.5em;
    }

        .doctored div.doctored-inline:after {
            position:absolute;
            display:inline-block;
            bottom:0.3em;
            left:50%;
            margin-left:-1em; /* assume that average element name width is 2em */
            content: attr(data-element);
            -webkit-transform-origin: 0px 100px;
            -webkit-transform: translate(0, 0.5em);
            -moz-transform-origin: 0px 100px;
            -moz-transform: translate(0, 0.5em);
            -ms-transform-origin: 0px 100px ;
            -ms-transform: translate(0, 0.5em);
            transform-origin: 0px 100px;
            transform: translate(0, 0.8em);
        }

menu.doctored-menu {
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0em 200px 10px 0px;
}

textarea.doctored-view-source-textbox {
    position: absolute;
    z-index: 2;
    resize: none;
}

div.doctored-view-source-resizer {
    position:absolute;
    cursor: ew-resize;
    display:none;
    background: #cccccc;
    border: outset 2px #cccccc;
    width: 20px;
    z-index:3;
    height: 5px; /* NOTE: will be overridden */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

menu.doctored-dialog {
    position: absolute;
    z-index:1;
    display:none;
}

    menu.doctored-dialog div.doctored-attributes {
        max-height:200px;
        overflow:auto;
    }

    menu.doctored-dialog label,
    menu.doctored-dialog div {
        clear:left;
    }

    menu.doctored-dialog a {
        float:right;
        position:relative;
        top:0px;
        right:0px;
        text-decoration:none;
    }

    menu.doctored-dialog label {
        display: block;
    }

    menu.doctored-dialog a.doctored-add-sibling-above {
        margin-right: 5px;
    }

    menu.doctored-dialog div.doctored-add-siblings {
        margin: 0px auto;
        width: 175px;
    }

    menu.doctored-dialog a.doctored-add-sibling-above,
    menu.doctored-dialog a.doctored-add-sibling-below {
        float:none;
        display: inline-block;
        width:85px;
        text-align:center;
        padding: 10px 0px;
        cursor: pointer;
    }

div.doctored-selection {
    display: inline;
}

ul.doctored-tabs {
    padding:0px;
    list-style:none;
    white-space: nowrap;
    margin: 0px 0px 0.4em 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right:60px;
}

    ul.doctored-tabs li {
        display: inline-block;
    }

    ul.doctored-tabs a {
        text-decoration: none;
    }

    ul.doctored-tabs li.doctored-current.doctored-dragging-tab,
    ul.doctored-tabs li.doctored-dragging-tab {
        position:absolute;
        z-index:2;
        top: auto;
    }

samp.doctored-tooltip {
    position:absolute;
    display:none;
    z-index:4;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

    samp.doctored-tooltip.doctored-hidden {
        opacity: 0;
    }

a.doctored-hamburger-button {
    float:right;
    text-decoration:none;
    margin: 0px 4px 0.4em 0px;
    display: block;
    padding: 8px 13px;
    background-color:#ffffff;
    border: 1px solid #999;
    color:#777777;
    border-radius: 2px;
}

menu.doctored-hamburger {
    position:absolute;
    display: none;
    z-index:3;
}

    menu.doctored-hamburger a {
        float:right;
        display: inline-block;
    }


option.doctored-loading {
    font-style: italic;
}

