
.doctored.doctored-theme-flat,
menu.doctored-dialog.doctored-theme-flat,
menu.doctored-menu.doctored-theme-flat,
samp.doctored-tooltip.doctored-theme-flat {
    font-family:'Raleway',Ubuntu,sans-serif;
    font-weight:300;
}

    .doctored.doctored-theme-flat:before {
        text-align:center;
        color: #777;
        font-size: small;
        font-weight:bold;
    }

        .doctored.doctored-theme-flat.invalid:before {
            text-align:right;
            color: #777;
            background-color: none;
            margin-right:40px;
        }


        .doctored.doctored-theme-flat.valid:before {
            padding: 2px;
            text-align:center;
            color: white;
            background: #6b6;
        }

    .doctored.doctored-theme-flat .doctored-block {
        margin:0px;
        padding-top:0.5em;
        padding-bottom: 1em;
        padding-left: 2.5em; /* padding right should be left undefined */
        border-radius: 0px;
        border-bottom: solid 1px #ccc;         
        background: #fff;
    }

        .doctored.doctored-theme-flat .doctored-block .doctored-block {
            padding:0.5em 0px 1em 2.5em;
            margin-top: 0.2em;
            margin-right: 0px;
            background: #eeeeee;
            background: rgba(30,30,30,0.1);
            border-bottom-right-radius: 0px;
            border-top-left-radius: 0px;
        }

        .doctored.doctored-theme-flat div.doctored-block:first-child {
            border-top-left-radius:2px;
            border-top-right-radius: 2px;
        }

        .doctored.doctored-theme-flat  > div.doctored-block:last-child {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        .doctored.doctored-theme-flat div.doctored-block:after {
            color:#666666;
            font-weight:bold;
            font-size:small;
        }

        .doctored.doctored-theme-flat div.doctored-block.has_errors:before {
            font-size:x-small;
            padding:4px 5px 4px 7px;
            border-radius:2px;
            border: solid 1px #c44;
            font-weight:bold;
            color: #c44;
        }

    .doctored.doctored-theme-flat div.doctored-inline {
        background: #555555;
        background: rgba(30,30,30,0.1);
        padding-bottom:0.6em;
        border-radius: 2px;
        vertical-align: text-top;
    }

        .doctored.doctored-theme-flat div.doctored-inline:after {
            color:#666666;
            font-size:x-small;
            font-weight:900;
        }


    menu.doctored-menu.doctored-theme-flat {
        margin-top:8px;
        padding: 0px;
        font-size:small;
        font-weight:bold;
        opacity: 0.9;
        text-align:left;
    }

        menu.doctored-menu.doctored-theme-flat:hover {
           opacity: 1;
        }

        menu.doctored-menu.doctored-theme-flat a {
            display: inline-block;
            padding:5px 9px;
            margin-right:4px;
            text-decoration:none;
            background: white;
            border: 1px solid #ccc;
            color:#777777;
            border-radius: 2px;
        }

        menu.doctored-menu.doctored-theme-flat a:hover,
        menu.doctored-menu.doctored-theme-flat a.doctored-on {
            background-color:#555;
            color: #fff;
        }

        menu.doctored-menu.doctored-theme-flat a:active {
            background-color:#555;
            border: solid 1px #555;
        }

    textarea.doctored-view-source-textbox.doctored-theme-flat {
        border: 1px solid #cccccc;
        padding: 5px 10px;
        outline: none;

    }

    div.doctored-view-source-resizer.doctored-theme-flat {
        width:16px;
        background: none;
        border: none;
    }

        div.doctored-view-source-resizer.doctored-theme-flat:hover {
            background: #aaa;
        }

    menu.doctored-dialog.doctored-theme-flat {
        background: #ffffff;
        border: solid 1px #cccccc;
        color: black;
        border-radius: 2px;
        padding: 2px;
    }

        menu.doctored-dialog.doctored-theme-flat a.doctored-add-sibling-above,
        menu.doctored-dialog.doctored-theme-flat a.doctored-add-sibling-below {
            color: #666;
            margin-top:10px;
        }

            menu.doctored-dialog.doctored-theme-flat a.doctored-add-sibling-above:hover,
            menu.doctored-dialog.doctored-theme-flat a.doctored-add-sibling-below:hover {
                background: #eeeeee;
            }

    menu.doctored-dialog.doctored-theme-flat * {
        font-size:small;
    }

    menu.doctored-dialog.doctored-theme-flat a {
        padding:0px 5px;
        color:#333;
    }

        menu.doctored-dialog.doctored-theme-flat a:hover {
            color: #000;
        }

    menu.doctored-dialog.doctored-theme-flat label {
        color: #cccccc;
        text-align:left;
        padding-left:5px;
        font-weight:bold;
        font-size:x-small;
    }

    menu.doctored-dialog.doctored-theme-flat select {
        width:160px;
        background: #fff;
        border: none;
        outline: none;
        color: black;
        margin-left:2px;
        border-radius:2px;
        -webkit-appearance: none;
        cursor: pointer;
    }

        menu.doctored-dialog.doctored-theme-flat select:hover {
            background: #eeeeee;
        }

        menu.doctored-dialog.doctored-theme-flat select:focus {
            border: none;
            outline: none;
        }

        menu.doctored-dialog.doctored-theme-flat select optgroup,
        menu.doctored-dialog.doctored-theme-flat select option {
            background: white;
            color: black;
        }

    menu.doctored-dialog.doctored-theme-flat h6 {
        border-top: solid 1px #eeeeee;
        padding:5px 0px 0px 5px;
        color: #666666;
        margin:0px;
        font-weight:bold;
        font-size:x-small;
    }

    menu.doctored-dialog.doctored-theme-flat div {
        padding: 0px 0px 3px 0px;
        color: #aaaaaa;
    }

        menu.doctored-dialog.doctored-theme-flat .doctored-attribute-name,
        menu.doctored-dialog.doctored-theme-flat .doctored-attribute-value {
            background: #eee;
            color: black;
            border: none;
            width:65px;
            outline: none;
            border-radius:2px;
        }

        menu.doctored-dialog.doctored-theme-flat .doctored-attribute-name:hover,
        menu.doctored-dialog.doctored-theme-flat .doctored-attribute-value:hover,
        menu.doctored-dialog.doctored-theme-flat .doctored-attribute-name:focus,
        menu.doctored-dialog.doctored-theme-flat .doctored-attribute-value:focus {
            background: #ddd;
        }

        menu.doctored-dialog.doctored-theme-flat .doctored-attribute-name {
            clear:left;
            text-align:right;
            margin-left:5px;
        }

        menu.doctored-dialog.doctored-theme-flat .doctored-attribute-value {
            text-align:left;
        }

    .doctored.doctored-theme-flat div.doctored-selection {
        background: #006ddb;
        border: solid 1px #ffffff;
        border: solid 1px rgba(255,255,255,0);
        border-left: 0px;
        border-right: 0px;
        color: white;
    }

    .doctored.doctored-theme-flat div.doctored-selection:hover {
        border: solid 1px #4477cc;
        border-left: 0px;
        border-right: 0px;
    }

    samp.doctored-tooltip.doctored-theme-flat {
        font-size: x-small;
        border-radius: 2px;
        font-weight:bold;
        padding:2px 7px 3px 5px;
        background: #c44;
        color: #fff;
    }

    ul.doctored-tabs.doctored-theme-flat {
        text-transform:uppercase;
        font-size:small;
        text-decoration:none;
        font-weight:bold;
        border-bottom: solid 1px #ccc;
    }

        ul.doctored-tabs.doctored-theme-flat li {
            display: inline-block;
            position:relative;
            top: 1px;
            background: #dddddd;
            border: 1px solid #ccc;
            color:#777777;
            padding: 0px 5px;
            vertical-align: top;
            margin-right: 5px;
        }

            ul.doctored-tabs.doctored-theme-flat li.doctored-current {
                background: white;
                border-bottom: none;
                position:relative;
                padding-bottom: 1px;
                box-shadow: 0px 3px 0px -1px white;
            }

            ul.doctored-tabs.doctored-theme-flat li.doctored-current.doctored-dragging-tab,
            ul.doctored-tabs.doctored-theme-flat li.doctored-dragging-tab {
                box-shadow: 1px 1px 2px rgba(0,0,0,0.9);
            }

            ul.doctored-tabs.doctored-theme-flat li.doctored-current.doctored-drop-target,
            ul.doctored-tabs.doctored-theme-flat li.doctored-drop-target {
                border: dashed 1px #999999;
                background: transparent;
                width:100px;
            }
            

            ul.doctored-tabs.doctored-theme-flat li span {
              display: inline-block;
              text-overflow: ellipsis;
              width: 100px;
              white-space: nowrap;
              overflow: hidden;
              padding: 8px 0px 5px 8px;
              cursor: pointer;
           }

           ul.doctored-tabs.doctored-theme-flat li a {
                display: inline-block;
                vertical-align: top;
                text-decoration: none;
                color: #666;
                font-family: monospace;
                padding: 8px 5px 5px 5px;
                font-weight:normal;
           }

                ul.doctored-tabs.doctored-theme-flat li a:hover {
                    color: #000;
                }

           ul.doctored-tabs.doctored-theme-flat li.doctored-new-document {
                margin-top:3px;
                margin-left:0px;
                background: none;

                font-family: monospace;
                font-weight: 200;
                border: none;
           }

                ul.doctored-tabs.doctored-theme-flat li.doctored-new-document a {
                    padding: 4px 8px;
                    border: solid 1px #bbb;
                    color: #777;
                    display: block;
                }

                ul.doctored-tabs.doctored-theme-flat li.doctored-new-document a:hover {
                    background: #fff;
                }

 

    menu.doctored-hamburger.doctored-theme-flat {
        padding: 0px;
        background: white;
        border: solid 1px black;
        padding-right:5px;
    }

        menu.doctored-hamburger.doctored-theme-flat a {
            padding:0px 5px 0px 0px;
            margin-left:5px;
            text-decoration: none;
            color: black;
        }

        menu.doctored-hamburger.doctored-theme-flat select {
            border: none;
            outline: none;
        }

        menu.doctored-hamburger.doctored-theme-flat option,
        menu.doctored-hamburger.doctored-theme-flat select {
            background: white;
            color: black;
        }




.doctored.doctored-theme-shadow,
menu.doctored-dialog.doctored-theme-shadow,
menu.doctored-menu.doctored-theme-shadow,
samp.doctored-tooltip.doctored-theme-shadow {
    font-family:Ubuntu,sans-serif;
}

    .doctored.doctored-theme-shadow:before {
        text-align:center;
        color: #777;
        text-shadow: 1px 1px 1px #999999;
        font-size: small;
        font-style: italic;
    }

        .doctored.doctored-theme-shadow.invalid:before {
            text-align:right;
            color: #777;
            background-color: none;
            text-shadow: 1px 1px 1px #999999;
            margin-right:40px;
        }

        .doctored.doctored-theme-shadow.valid:before {
            padding: 2px;
            border-radius: 3px;
            text-align:center;
            color: white;
            text-shadow: 1px 1px 1px #999999;
            background: #6b6;
        }

    .doctored.doctored-theme-shadow .doctored-block {
        margin:0px;
        padding-top:0.5em;
        padding-bottom: 1em;
        padding-left: 2.5em; /* padding right should be left undefined */
        border-radius:0px;
        box-shadow: inset 0px -8px 8px -8px #c8c8c8, 0px 5px 5px #666666;
        background: #fff;
    }

        .doctored.doctored-theme-shadow .doctored-block .doctored-block {
            padding:0.5em 0px 1em 2.5em;
            margin-top: 0.2em;
            margin-right: 0px;
            background: #111111;
            background: rgba(30,30,30,0.1);
            box-shadow: inset 0px 0px 5px #fff;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 10px;
        }

        .doctored.doctored-theme-shadow div.doctored-block:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .doctored.doctored-theme-shadow  > div.doctored-block:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 0px 4px 5px #999999;
        }

        .doctored.doctored-theme-shadow div.doctored-block:after {
            color:#666666;
            font-weight:bold;
            font-size:small;
            text-shadow:1px 1px 2px #dddddd;
            content: attr(data-element);
        }

        .doctored.doctored-theme-shadow div.doctored-block.has_errors:before {
            font-size:x-small;
            padding:4px 5px 4px 7px;
            border-radius:5px;
            border: solid 2px white;
            color: white;   
            background: #c44;
            -moz-box-shadow: inset 1px 1px 3px #a22;
            -webkit-box-shadow: inset 1px 1px 3px #a22;
            box-shadow: inset 1px 1px 3px #a22;
        }

    .doctored.doctored-theme-shadow div.doctored-inline {
        background: #555555;
        background: rgba(30,30,30,0.1);
        padding-bottom:0.6em;
        border-radius: 0.5em;
        vertical-align: text-top;
    }

        .doctored.doctored-theme-shadow div.doctored-inline:after {
            color:#666666;
            font-weight:bold;
            font-size:small;
            text-shadow:1px 1px 2px #dddddd;
        }


    menu.doctored-menu.doctored-theme-shadow {
        padding: 0px;
        font-size:small;
        font-weight:bold;
        opacity: 0.9;
        text-align:left;
    }

        menu.doctored-menu.doctored-theme-shadow:hover {
           opacity: 1;
        }

        menu.doctored-menu.doctored-theme-shadow a {
            display: inline-block;
            border: solid 1px white;
            padding:8px 13px;
            margin-right:4px;
            text-decoration:none;
            color:#777777;
            border-radius: 5px;
            text-shadow:1px 1px 0px #ffffff;
            box-shadow: 0px 5px 14px -5px #bbbbbb;
            -ms-transition:0.3s;
            -moz-transition:0.3s;
            -webkit-transition:0.3s;
            transition:0.3s;
        }


        menu.doctored-menu.doctored-theme-shadow a:hover {
            -moz-box-shadow:inset 0px 0px 5px #bbbbbb;
            -webkit-box-shadow:inset 0px 0px 5px #bbbbbb;
            box-shadow:inset 0px 0px 5px #bbbbbb;
            background-color:#e6e6e6;
            color: #666666;
        }

        menu.doctored-menu.doctored-theme-shadow a:active {
            -moz-box-shadow:inset 0px 0px 5px #999999;
            -webkit-box-shadow:inset 0px 0px 5px #999999;
            box-shadow:inset 0px 0px 5px #999999;
            background-color:#ffffff;
        }

    textarea.doctored-view-source-textbox.doctored-theme-shadow {
        border: none;
        -webkit-appearance: none; /* http://stackoverflow.com/questions/11658840/css-box-shadow-isnt-working-with-textarea-in-webkit */
        -moz-box-shadow:    0px 0px 10px #888, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc;
        -webkit-box-shadow: 0px 0px 10px #888, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc;
        box-shadow:         0px 0px 10px #888, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc, 0px 0px 50px #ccc;
        padding: 0.5%;
        outline: none;
    }

    menu.doctored-dialog.doctored-theme-shadow {
        background: #000000;
        color: white;
        border-radius: 5px;
        padding: 2px;
    }

    menu.doctored-dialog.doctored-theme-shadow * {
        font-size:small;
    }

    menu.doctored-dialog.doctored-theme-shadow a {
        padding:0px 5px;
        color:#ccc;
    }

        menu.doctored-dialog.doctored-theme-shadow a:hover {
            color: #fff;
        }

    menu.doctored-dialog.doctored-theme-shadow label {
        color: #cccccc;
        text-align:left;
        padding-left:5px;
        font-weight:bold;
        font-size:x-small;
    }

    menu.doctored-dialog.doctored-theme-shadow select {
        width:160px;
        background: #000;
        border: none;
        outline: none;
        color: white;
        margin-left:2px;
        border-radius:2px;
        -webkit-appearance: none;
        cursor: pointer;
    }

        menu.doctored-dialog.doctored-theme-shadow select:hover {
            background: #444444;
        }

        menu.doctored-dialog.doctored-theme-shadow select:focus {
            border: none;
            outline: none;
        }

        menu.doctored-dialog.doctored-theme-shadow select optgroup,
        menu.doctored-dialog.doctored-theme-shadow select option {
            background: black;
            color: white;
        }

    menu.doctored-dialog.doctored-theme-shadow h6 {
        border-top: solid 1px #333333;
        padding:0px 0px 0px 5px;
        color: #cccccc;
        margin:0px;
        font-weight:bold;
        font-size:x-small;
    }

    menu.doctored-dialog.doctored-theme-shadow div {
        padding: 0px 0px 3px 0px;
        color: #aaaaaa;
    }

        menu.doctored-dialog.doctored-theme-shadow .doctored-attribute-name,
        menu.doctored-dialog.doctored-theme-shadow .doctored-attribute-value {
            background: #333;
            color: white;
            border: none;
            width:65px;
            outline: none;
            border-radius:2px;
        }

        menu.doctored-dialog.doctored-theme-shadow .doctored-attribute-name:hover,
        menu.doctored-dialog.doctored-theme-shadow .doctored-attribute-value:hover,
        menu.doctored-dialog.doctored-theme-shadow .doctored-attribute-name:focus,
        menu.doctored-dialog.doctored-theme-shadow .doctored-attribute-value:focus {
            background: #444;
        }

        menu.doctored-dialog.doctored-theme-shadow .doctored-attribute-name {
            clear:left;
            text-align:right;
            margin-left:5px;
        }

        menu.doctored-dialog.doctored-theme-shadow .doctored-attribute-value {
            text-align:left;
        }

    .doctored.doctored-theme-shadow div.doctored-selection {
        background: #006ddb;
        border: solid 1px #ffffff;
        border: solid 1px rgba(255,255,255,0);
        border-left: 0px;
        border-right: 0px;
        color: white;
    }

    .doctored.doctored-theme-shadow div.doctored-selection:hover {
        border: solid 1px #4477cc;
        border-left: 0px;
        border-right: 0px;
    }

    samp.doctored-tooltip.doctored-theme-shadow {
        font-size: x-small;
        border-radius: 2px;
        font-weight:bold;
        text-transform:uppercase;
        padding:2px 7px 3px 5px;
        background: #c44;
        color: #fff;
        text-shadow: 1px 1px 1px #b33;
    }

    ul.doctored-tabs.doctored-theme-shadow {
        text-transform:uppercase;
        font-size:small;
        text-decoration:none;
        font-weight:bold;
        border-bottom: solid 1px #ccc;
    }

        ul.doctored-tabs.doctored-theme-shadow li {
            display: inline-block;
            position:relative;
            top: 1px;
            border: 1px solid #000;
            color:#777777;
            padding: 0px 5px;
            vertical-align: top;
            margin-right: 5px;
        }

    menu.doctored-hamburger.doctored-theme-shadow {
        padding: 0px;
        background: black;
        border-radius: 5px;
        padding-right:5px;
    }

        menu.doctored-hamburger.doctored-theme-shadow a {
            padding:0px 5px 0px 0px;
            margin-left:5px;
            text-decoration: none;
            color: white;
        }

        menu.doctored-hamburger.doctored-theme-shadow select {
            border: none;
            outline: none;
        }

        menu.doctored-hamburger.doctored-theme-shadow select,
        menu.doctored-hamburger.doctored-theme-shadow option {
            background: black;
            color: white;
        }




.doctored.doctored-theme-highcontrast,
menu.doctored-dialog.doctored-theme-highcontrast,
menu.doctored-menu.doctored-theme-highcontrast,
samp.doctored-tooltip.doctored-theme-highcontrast {
    font-family:'Raleway',Ubuntu,sans-serif;
    font-weight:bold;
}

    .doctored.doctored-theme-highcontrast:before {
        text-align:center;
        color: #000;
        font-size: small;
        font-weight:bold;
    }

        .doctored.doctored-theme-highcontrast.invalid:before {
            text-align:right;
            color: #000;
            background-color: none;
            margin-right:40px;
        }


        .doctored.doctored-theme-highcontrast.valid:before {
            padding: 2px;
            text-align:center;
            color: white;
            background: #000;
        }

    .doctored.doctored-theme-highcontrast .doctored-block {
        margin:0px;
        padding-top:0.5em;
        padding-bottom: 1em;
        padding-left: 2.5em; /* padding right should be left undefined */
        border-radius: 0px;
        border: solid 3px #000;
        background: #fff;
    }

        .doctored.doctored-theme-highcontrast .doctored-block .doctored-block {
            padding:0.5em 0px 1em 2.5em;
            margin-top: 0.2em;
            margin-right: 0px;
            
            border-radius: 2px;
        }

        .doctored.doctored-theme-highcontrast div.doctored-block:first-child {
            
        }

        .doctored.doctored-theme-highcontrast  > div.doctored-block:last-child {
            
        }

        .doctored.doctored-theme-highcontrast div.doctored-block:after {
            color:#000;
            font-weight:bold;
            font-size:small;
            content: attr(data-element);
        }

        .doctored.doctored-theme-highcontrast div.doctored-block.has_errors:before {
            font-size:small;
            padding:4px 5px 4px 7px;
            border-radius:2px;
            border: solid 3px #000;
            font-weight:bold;
            color: #000;
        }

    .doctored.doctored-theme-highcontrast div.doctored-inline {
        background: #555555;
        background: rgba(30,30,30,0.1);
        padding:0px 3px 1em 3px;
        border: 1px solid black;
        border-radius: 2px;
        vertical-align: text-top;
    }

        .doctored.doctored-theme-highcontrast div.doctored-inline:after {
            bottom:0.45em;
            color:#000000;
            font-size:small;
            font-weight:bold;
            font-weight:900;
        }


    menu.doctored-menu.doctored-theme-highcontrast {
        padding: 0px;
        text-transform:uppercase;
        font-size:small;
        font-weight:bold;
        opacity: 0.9;
        text-align:left;
    }

        menu.doctored-menu.doctored-theme-highcontrast:hover {
           opacity: 1;
        }

        menu.doctored-menu.doctored-theme-highcontrast a {
            display: inline-block;
            padding:8px 13px;
            margin-right:4px;
            text-decoration:none;
            background-color:#ffffff;
            border: 3px solid #000;
            color:#000000;
            border-radius: 2px;
        }

        menu.doctored-menu.doctored-theme-highcontrast a:hover {
            background-color:#000;
            color: #fff;
        }

        menu.doctored-menu.doctored-theme-highcontrast a:active {
            background-color:#555;
            border: solid 3px #555;
        }

    textarea.doctored-view-source-textbox.doctored-theme-highcontrast {
        border: none;
        padding: 0.5%;
        outline: none;
    }

    menu.doctored-dialog.doctored-theme-highcontrast {
        background: #ffffff;
        border: solid 3px #000000;
        color: black;
        border-radius: 2px;
        padding: 2px;
    }

    menu.doctored-dialog.doctored-theme-highcontrast * {
        font-size:small;
    }

    menu.doctored-dialog.doctored-theme-highcontrast a {
        padding:0px 5px;
        color:#000;
        font-size:large;
        margin-top:-5px;
    }

        menu.doctored-dialog.doctored-theme-highcontrast a:hover {
            color: #000;
        }

    menu.doctored-dialog.doctored-theme-highcontrast label {
        color: #000000;
        text-align:left;
        padding-left:5px;
        font-weight:bold;
        font-size:x-small;
    }

    menu.doctored-dialog.doctored-theme-highcontrast select {
        width:160px;
        background: #fff;
        border: none;
        outline: none;
        color: black;
        margin-left:2px;
        border-radius:2px;
        -webkit-appearance: none;
        cursor: pointer;
    }

        menu.doctored-dialog.doctored-theme-highcontrast select:hover {
            background: #eeeeee;
        }

        menu.doctored-dialog.doctored-theme-highcontrast select:focus {
            border: none;
            outline: none;
        }

        menu.doctored-dialog.doctored-theme-highcontrast select optgroup,
        menu.doctored-dialog.doctored-theme-highcontrast select option {
            background: white;
            color: black;
        }

    menu.doctored-dialog.doctored-theme-highcontrast h6 {
        border-top: solid 3px #000000;
        padding:5px 0px 0px 5px;
        color: #000000;
        margin:0px;
        font-weight:bold;
        font-size:x-small;
    }

    menu.doctored-dialog.doctored-theme-highcontrast div {
        padding: 0px 0px 3px 0px;
        color: #aaaaaa;
    }

        menu.doctored-dialog.doctored-theme-highcontrast .doctored-attribute-name,
        menu.doctored-dialog.doctored-theme-highcontrast .doctored-attribute-value {
            border: none;
            width:65px;
            outline: none;
            border-radius:2px;
        }

        menu.doctored-dialog.doctored-theme-highcontrast .doctored-attribute-name:hover,
        menu.doctored-dialog.doctored-theme-highcontrast .doctored-attribute-value:hover,
        menu.doctored-dialog.doctored-theme-highcontrast .doctored-attribute-name:focus,
        menu.doctored-dialog.doctored-theme-highcontrast .doctored-attribute-value:focus {
            background: #ccc;
        }

        menu.doctored-dialog.doctored-theme-highcontrast .doctored-attribute-name {
            clear:left;
            text-align:right;
            margin-left:5px;
        }

        menu.doctored-dialog.doctored-theme-highcontrast .doctored-attribute-value {
            text-align:left;
        }

    .doctored.doctored-theme-highcontrast div.doctored-selection {
        background: #006ddb;
        border: solid 1px #ffffff;
        border: solid 1px rgba(255,255,255,0);
        border-left: 0px;
        border-right: 0px;
        color: white;
    }

    .doctored.doctored-theme-highcontrast div.doctored-selection:hover {
        border: solid 1px #000;
        border-left: 0px;
        border-right: 0px;
    }

    samp.doctored-tooltip.doctored-theme-highcontrast {
        font-size: x-small;
        border-radius: 2px;
        font-weight:bold;
        padding:2px 7px 3px 5px;
        background: #000;
        color: #fff;
    }


    ul.doctored-tabs.doctored-theme-highcontrast {
        text-transform:uppercase;
        font-size:small;
        text-decoration:none;
        font-weight:bold;
        border-bottom: solid 1px #ccc;
    }

        ul.doctored-tabs.doctored-theme-highcontrast li {
            display: inline-block;
            position:relative;
            top: 1px;
            border: 1px solid #000;
            color:#000000;
            padding: 5px;
            vertical-align: top;
            margin-right: 5px;
        }

    menu.doctored-hamburger.doctored-theme-highcontrast {
        padding: 0px;
        background: white;
        border: solid 3px black;
        padding:10px 15px 10px 10px;
    }

        menu.doctored-hamburger.doctored-theme-highcontrast a {
            padding:-5px 5px 0px 0px;
            margin-left:5px;
            text-decoration: none;
            color: black;
            font-size: x-large;
        }

        menu.doctored-hamburger.doctored-theme-highcontrast select {
            border: none;
            outline: none;
        }

        menu.doctored-hamburger.doctored-theme-highcontrast option,
        menu.doctored-hamburger.doctored-theme-highcontrast select {
            background: white;
            color: black;
        }

