[Desktop Entry]
Terminal=false
Exec=sensible-browser http://localhost/libreehr
Type=Application
Categories=Application;Office;
StartupNotify=true
Name=Electronic Medical Records - LibreEHR
Comment=Medical Practice Management Application
